*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* background */
.main-container{
    height: 100%;
    /* background: url(./img/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    position: relative;
}
/* logo */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: url(./img/Background.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}
.logo{
    width: 80px;
    height: 80px;
}

/* tumbler1 img */
.tumbler-container{
    background: url(img/First-Image.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* 1st text transition & 2nd text transition */
.tumbler-container > .text-content,
.text-content-2
{
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(43, 42, 42, 0.185); 
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    padding: 20px;
    border-radius: 12px;
    width: 500px;
    opacity: 1;
    transition: opacity .15s is ease-out; 
    font-size: 30px;
    text-align: center;
    color:#000000;

    position: absolute;
    left: 40px;
    bottom: 120px;
}
/* transparent */
/* .text-content:hover,
.text-content-2:hover
{
    opacity: 1;
} */
/* tumbler2 img */
.second-page{
    /* background: url(./img/Tumbler\ 2.jpg);
    background-position: center;
    background-size: cover; */
    height: 100vh;
    position: relative;
}
/* four img */
.box-1{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
/* tumbler img footer */
.box-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 250px;
    gap: 50px;
    /* color footer */
    background-image: linear-gradient(to left top, #f88714, #efa100, #dfbb00, #c8d400, #a8eb12);
}

.box-2:nth-child(2){
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.box-2:nth-child(3){
    width: 100%;
    
}
.footer{
    text-align: center;
}
/* size img */
.social-media{
    height: 50px;
    width: 50px;
}
.nav-link > a{
    text-decoration: none;
}
/* footer nav */
.nav-link > a img{
    transition: all .15s ease;
    cursor: pointer;
}
/* check img */
.nav-link > a img:hover{
    transform: scale(.92);
}
